# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

appsettings.Development.json
appsettings.json
/.vs
/hermes-api/bin
/hermes-api/Migrations
/hermes-api/obj
/hermes-api/Properties/PublishProfiles
/hermes-api/Properties/ServiceDependencies/project-hermes
/hermes-api/Properties/serviceDependencies.json
/hermes-api/Properties/serviceDependencies.project-hermes.json
/hermes-api/Properties/serviceDependencies.project-hermes.json.user
/Docker/bin/Debug
/Docker/obj
